<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Wift Demo: The Mystery Box</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
      WebFont.load({ google: { families: ["Roboto:100,200,300,400,500"] }});
    </script>
    <script src="/static/store.js" type="text/javascript"></script>
    <link href="/static/store.css" rel="stylesheet" type="text/css" />
  </head>
  
  <body>
    <main>
      <div class="wrapper">
        <nav>
          <a href="http://wift.local/" class="nav-back">
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none">
              <path d="M12 5.6C12.3314 5.6 12.6 5.33137 12.6 5C12.6 4.66863 12.3314 4.4 12 4.4V5.6ZM0 5L-0.424264 4.57574C-0.658579 4.81005 -0.658579 5.18995 -0.424264 5.42426L0 5ZM5.42426 0.424264C5.65858 0.18995 5.65858 -0.18995 5.42426 -0.424264C5.18995 -0.658579 4.81005 -0.658579 4.57574 -0.424264L5.42426 0.424264ZM4.57574 10.4243C4.81005 10.6586 5.18995 10.6586 5.42426 10.4243C5.65858 10.1899 5.65858 9.81005 5.42426 9.57574L4.57574 10.4243ZM12 4.4H0V5.6H12V4.4ZM0.424264 5.42426L5.42426 0.424264L4.57574 -0.424264L-0.424264 4.57574L0.424264 5.42426ZM-0.424264 5.42426L4.57574 10.4243L5.42426 9.57574L0.424264 4.57574L-0.424264 5.42426Z" transform="translate(1 1)"/>
            </svg>
            Back to website
          </a>
        </nav>

        <div class="contentbox">
          <div class="content">
            <h1>The Mystery Box</h1>
            <img class="box" src="static/box.svg"/>
            <p>You just found a Black Mystery Box floating in the ether.<br/>Pay <strong>$1.99</strong> to open it.</p>
            
            <form action="/charge" method="POST">
              <script src="http://checkout.wift.local/checkout.js" class="wift-button"
                data-key="pk_test_1234"
                data-name="Wift.io Demo"
                data-description="Open the Mystery Box"
                data-amount="142">
              </script>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>Powered by <a href="http://wift.local/">Wift</a></p>
    </footer>
  </body>
</html>
